﻿@section Scripts{
    @Scripts.Render("~/Scripts/Skripta.js")
    }

<div class="row">
    <div class="col-sm-4" style="display:none" id="registracijaP">
        <form method="post" action="post/" id="registracija">
            <h3>Registracija</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" id="regEmail" />
            </div>
            <div class="form-group">
                <label>Lozinka</label>
                <input class="form-control" type="password" id="regLoz" />
            </div>
            <div class="form-group">
                <label>Potvrdi Lozinku</label>
                <input class="form-control" type="password" id="regLoz2" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm">Registracija</button>
            </div>
        </form>
    </div>

    <div class="col-sm-4">
        <form method="post" action="post/" id="prijava">
            <h3>Prijava</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" id="priEmail" />
            </div>
            <div class="form-group">
                <label>Lozinka</label>
                <input class="form-control" type="password" id="priLoz" />
            </div>
            <div class="form-group">
                <button type="submit" class="btnPrijava">Prijava</button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-sm" id="bReg">Registracija</button>
            </div>
        </form>
    </div>
</div>

<br />
<div class="row">
    <div class="col-sm-4" id="odjava">
        <button class="btn btn-sm" id="odjavise">Odjava</button>
    </div>
</div>

<p id="info"></p>

<div class="row proizvod">
    <hr />
    <br />
    <button type="button" id="proizvodi" style="display:none">Proizvodi</button>
    <button type="button" id="filter" style="display:none">Filter</button>
    
    <div id="data"></div>
    <div id="filterDiv" style="display:none">
        <p><label>Filter:<br /> <input id="filerId" type="number"></label></p>
        <p><button type="button" id="btnFilter" class="btn"></button></p>
    </div>
    <br />
    <div id="formDiv" style="display:none" class="d-flex justify-content-between">
        <form method="post" action="post/" id="proizvodForm">
            <p><label>Naziv: <input id="proizvodNaziv" class="form-control"></label></p>
            <p><label>Cena: <input id="proizvodCena" type="number" class="form-control"></label></p>
            <p><label>Kategorija  <input  id="proizvodKategorija" class="form-control"/></label></p>
            <br />
            <p><button class='btn btn-sm'>Submit</button></p>
        </form>
    </div>
</div>
